// body { 
//     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    /* font-family: "Helvetica"; */
    // font-size: 14px;
//     margin: 0; 
// }

// .hidden {
//     display: none !important;
// }
//
// ul {
//     margin-block-start: 0;
//     margin-block-end: 0;
//     padding-inline-start: 0;
// }

/* ===================================== */

input[type="button"] { 
    font-size: 15px;
}

.user_content {

    & > header {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        /* align-items: center; */
        /* padding-left: 16px; */
        padding: 4px;
        height: var(--header-height);
        width: 100%;
        background-color: #ddd;
        flex-direction: row;
        justify-content: space-between;
        /* justify-content: flex-end; */
        /* align-items: flex-start; */
        align-items: center;
        box-sizing: border-box;
        z-index: 1;

        .menu {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 16px;

            & > a {
                color: blue;
                text-decoration: none;
                display: block;
                margin-left: 16px;

                &:first-of-type {
                    margin-left: 0;
                }
                &.selected {
                    color: black;
                    font-weight: bold;
                }
            }
        }

        .user_panel {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .refresh {
                margin-left: 8px;
                width: 38px;
                height: 38px;
                --origin-url: url("assets/refresh.icon.svg");
                background-color: black;
                mask-image: var(--origin-url);
                -webkit-mask-image: var(--origin-url);

                &[disabled="disabled"] {
                    background-color: silver;
                }
            }
            .user {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
            }
            .picture {
                width: 46px;
                height: 46px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                clip-path: circle(23px at center);
                margin-right: 8px;
            }
            .email {
                margin-right: 8px;
            }
            .logout {
                width: 20px;
                height: 20px;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZD0iTTMgM2g4VjFIM2EyIDIgMCAwIDAtMiAydjE0YTIgMiAwIDAgMCAyIDJoOHYtMkgzeiIvPjxwYXRoIGQ9Im0xOSAxMC02LTV2NEg1djJoOHY0bDYtNXoiLz48L3N2Zz4K); 
                /* background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiPjxwYXRoIGQ9Ik05NjggMzJjMzcgMzYgMzcgOTUgMCAxMzJsLTQ0IDQ0TDc5MiA3Nmw0NC00NGMzNy0zNyA5Ni0zNyAxMzIgMHpNMzA4IDU2MGwtNDQgMTc2IDE3Ni00NCA0NDAtNDQwLTEzMi0xMzItNDQwIDQ0MHptNDM5LTg3djQwM0gxMjRWMjUzaDQwM2wxMjQtMTI0SDB2ODcxaDg3MVYzNDlMNzQ3IDQ3M3oiLz48L3N2Zz4=); */
                margin-right: 8px;
                cursor: pointer;
            }
        }
    }

    & > .content {
        display: flex;
        margin-top: 54px;

        /* 
        & > .filters {
            position: fixed;
            top: 60px;
            width: 400px;
            background-color: #EEE;
            .classlar, .other {
                display: flex;
            }
        }
        */

        & > div.lar {
            margin-top: 16px;
            margin-left: 16px;

            .header {
                position: fixed;
                top: 54px;
                left: 0px;
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                background-color: white;
                z-index: 1;

                box-sizing: border-box;
                input[type="button"] {
                    width: 160px;
                    height: 32px;
                    border-radius: 4px;
                    margin-left: 16px;
                }
            }
            table { 
                font-size: 15px; 
                margin-top: 30px;
                margin-bottom: 120px;
                border-collapse: collapse; 
            }
            thead {
                font-size: 13px;
                background-color: white;
                z-index: 1;
                // position: fixed;
                // top: 108px;
            }
            th, td {
                padding: 0.4rem;
            }
            th {
                 position: sticky;
                 top: 100; 
                background-color: white;
                z-index: 1;
            }
            th.Название, td.Название 
            , th.Город, td.Город
            , th.Клуб, td.Клуб
            , th.Фамилия, td.Фамилия
            , th.Имя, td.Имя
            , th.Отчество, td.Отчество
            {
                text-align: left;
            }
            th.id, td.id
            , th.Клубов, td.Клубов
            , th.Судей, td.Судей
            , th.Тренеров, td.Тренеров
            , th.Танцоров, td.Танцоров
            , th.Возраст, td.Возраст
            , th.Дата_рождения, td.Дата_рождения
            {
                text-align: right;
            }
            th.Пол, td.Пол
            {
                text-align: center;
            }
            td > .edit {
                margin-left: 16px;
                width: 16px;
                height: 16px;
                display: inline-block;
                margin-right: 16px;
                background-color: orange;
                -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiPjxwYXRoIGQ9Ik05NjggMzJjMzcgMzYgMzcgOTUgMCAxMzJsLTQ0IDQ0TDc5MiA3Nmw0NC00NGMzNy0zNyA5Ni0zNyAxMzIgMHpNMzA4IDU2MGwtNDQgMTc2IDE3Ni00NCA0NDAtNDQwLTEzMi0xMzItNDQwIDQ0MHptNDM5LTg3djQwM0gxMjRWMjUzaDQwM2wxMjQtMTI0SDB2ODcxaDg3MVYzNDlMNzQ3IDQ3M3oiLz48L3N2Zz4=);
                mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiPjxwYXRoIGQ9Ik05NjggMzJjMzcgMzYgMzcgOTUgMCAxMzJsLTQ0IDQ0TDc5MiA3Nmw0NC00NGMzNy0zNyA5Ni0zNyAxMzIgMHpNMzA4IDU2MGwtNDQgMTc2IDE3Ni00NCA0NDAtNDQwLTEzMi0xMzItNDQwIDQ0MHptNDM5LTg3djQwM0gxMjRWMjUzaDQwM2wxMjQtMTI0SDB2ODcxaDg3MVYzNDlMNzQ3IDQ3M3oiLz48L3N2Zz4=);
            }
            input, label {
                cursor: pointer;
            }
            label {
                margin-left: 4px;
            }
            //     }
            // }
        }
    }

    // & > .modal_cover {
    //     width: 100vw;
    //     left: 0;
    //     top: 0;
    //     height: 100vh;
    //     background-color: rgba(0, 0, 0, .5);
    //     position: fixed;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }
    //
    .modal.cover {
        background-color: rgba(0, 0, 0, .5);
    }
    .modal {
        width: 100vw;
        left: 0;
        top: 0;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        // &.citi .content {
        //     height: 180px;
        // }
        // &.club .content {
        //     height: 202px;
        // }
        // &.judge .content {
        //     height: 382px;
        // }
        // &.trainer .content {
        //     height: 300px;
        // }
        // &.dancer .content {
        //     height: 360px;
        // }
        // &.person .content {
        //     height: 320px;
        // }
        // &.last_name .content {
        //     height: 180px;
        // }
        .window {
            width: 460px;
            box-sizing: border-box;
            background-color: white;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .header {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 32px;
                padding-left: 16px;
                background: royalblue;
                color: white;
                font-weight: bold;
            }

            .content {
                display: flex;
                flex-direction: column;

                .row {
                    display: flex;
                    align-items: center;
                    margin: 0 16px 16px;

                    &:first-child {
                        margin-top: 16px;
                    }
                    label { 
                        // width: 62px; 
                        flex: 0 0 62px;
                        margin-right: 8px; 
                        text-align: right;
                    }
                    input, select { 
                        width: 340px; 
                        height: 26px;
                        font-size: 14px;
                        box-sizing: border-box;
                        flex: 1 1 auto;
                    }
                    input[type="button"] { 
                        width: 40px;
                        margin-left: 16px;
                    }
                }
            }

            .control-panel {
                background-color: lightgray;
                height: 64px;
                display: flex;
                justify-content: space-around;
                padding: 0 40px;
                align-items: center;

                & > input[type="button"] {
                    height: 30px;
                    padding: 0 12px;
                    // font-size: 14px;
                    min-width: 60px;
                    box-sizing: content-box;
                }
            }
        }
    }
}

/* ===================================== */
    
